:root{
    --gap: 5px;

    --sudoku-cell-size:50px;

    --bg-main:#CFD2CF;
    --blue:#0776de;
    --lightblue:#c7e0f8;
    --bg-test:#EEF5FB;
    --red:#EB1D36;
    --white:#fbfdfe;
    --black:#3B4044;
    --cloud-white:#f1f4e5;
    --blue-black:#0D1117;

    --border-radius:18px;
    --font-size: 1.8rem;
    --font-size2: 4rem;
    --grid-size:9;
    --fontFam:Arial, Helvetica, sans-serif;

    --box-shadow: 0px -6px 6px #cadef1cf, 0px 8px 8px 0px hsl(0deg 0% 100% / 87%);


}
body{
    /*background-image: url("cloudy-day.webp");*/
    /*background-size: cover;*/
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color:var(--bg-test);
    font-family: var(--fontFam);
}

.main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;


}

    .main-game{
        grid-column: 2/3;
        display: grid;
        grid-template-rows: repeat(6,auto);
        grid-template-columns: 20px 510px;
        grid-row: span;
        height: 100%;
        flex-direction: column;
        justify-items: center;
    }
    #main-grid{
        display: grid; /* layout is defined in app.js */
        gap: var(--gap);
        grid-row: 4/5;
        max-width: 510px;
        grid-column: span;
    }
    .main-game-sub{
        grid-column: 2/3;
    }

     #main-grid div{
         font-family: var(--fontFam);
        height: var(--sudoku-cell-size) ;
        width: var(--sudoku-cell-size);
        background-color: var(--white);
        color: var(--blue);
        font-size: var(--font-size);
        /*cursor: pointer;*/
         display: flex;
         justify-content: center;
        align-items: center;
         border-radius: 7px;



    }

     #message{

         align-self: center;
         text-align: center;
         margin: 10px auto;
         display: flex;
         flex-wrap: wrap;
         gap: var(--gap);
         grid-row: 5/6;
         border: none;
         box-shadow: 1px -2px 8px #ffffff, -3px 3px 4px #9d9d9d;
         height: 30px;
         border-radius: var(--border-radius);


     }
     #message::after{
         content: "/a";
         white-space: pre;
     }

     .secondContainer{
         grid-row: 2/3;
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 20px;
     }

    .bottomBar{
        grid-row: 6/7;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    #autoCheck{
        grid-column: 1/2;
    }

    #refreshButton{
        transition: 0.4s;
        grid-column: 2/3;
        margin: 0 auto;
        border:none;
        padding: 10px;
        background-color: #2e80b3;
        color:white;
        border-radius:var(--border-radius);

    }

.horizontalDivide{
    border-bottom: 5px solid rgba(142, 170, 195,0.9);

margin-bottom: 4px;

}
.verticalDivide{
    border-right: 4px solid #9d9d9d;
    margin-right: 4px;
}
#level{
    transition: 0.4s;
    margin: auto auto;
    border-radius: var(--border-radius);
    /*background: #c7e0f8;*/
    color:black;
    padding:10px;
    display:inline-block;
    box-shadow:var(--box-shadow);
}
#level:hover{
    background-color: white;
}
#levels{
    background-color: #c7e0f8;
    border: none;
    color: var(--blue);
    border-radius: var(--border-radius);
    padding: 2px;
}
#seconds, #tens {
    border-radius: var(--border-radius);
    /*background: #c7e0f8;*/
    color: black;
    padding:10px;
    width:30px;
    margin:3px;
    display:inline-block;
    text-align: center;
    /*background:#e0e0e0;*/
    box-shadow:var(--box-shadow);
}
#time{
    color: #2e80b3;
}
h1{
    box-shadow:var(--box-shadow);
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--black);
}
#refreshButton:hover{
color: #2e80b3;
background-color: white;
}
#autoCheck{
    margin-right: 10px;
   margin-top: 10px;
}
.guideNum{
    width: 100%;
    max-width: 510px;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-content: space-between;
    grid-row: 3/4;
    padding: 2px;
    margin-top: 10px;
}
.num{
    display: flex;
    color: cornflowerblue;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    padding: 4px;
}
.guideNumRow{
grid-column: 1/2;
grid-row: 4/5;
    width: 100%;
   display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;



}
#topPadding{
    grid-column: 1/2;
    grid-row: 1/4;

}
#bottomPadding{
    grid-column: 1/2;
    grid-row: 5/7 ;

}
.num:nth-child(3n){
    color: black;
}
#snackbar {
    visibility: hidden;
    background-color: #185E8A;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
}


#snackbar.show {
    visibility: visible;

    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
#error{
    grid-column: 3/4;
    display: flex;
    background-color: rgba(255,0,0,0.2);
    border-radius: var(--border-radius);
    margin: 0 auto;
    padding: 10px;


}
#counter{

    min-width:20px;
    margin:auto auto;
    display:inline-block;
    text-align: center;

}
#digits{
    visibility: hidden;
    display: flex;
}
.rowselected{
    background-color: #0D1117 !important;
    color: var(--white) !important;
}
.cellselected{
    background-color: #0D1117 !important;
    color: var(--white) !important;
}