:root{
    --gap: 2px;

    --sudoku-cell-size:20px;

    --bg-main:#CFD2CF;
    --blue:#0776de;
    --lightblue:#c7e0f8;
    --bg-test:#EEF5FB;
    --red:#EB1D36;
    --white:#fbfdfe;
    --black:#3B4044;

    --font-size: 0.7rem;
    --font-size2: 4rem;
    --grid-size:9;
    --fontFam:Arial, Helvetica, sans-serif;


}
/*
body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color:var(--bg-test);
    font-family: var(--fontFam);
    font-size: 10px;
    display: grid;
    !*grid-template-columns: 1fr;*!
    justify-content: center;
}
*/


.main-game{
  /*  grid-column: 1/2;*/
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2,auto) 15px repeat(3,auto);
    grid-template-columns: 15px auto;
    grid-row: span;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /*justify-items: center;*/
}
#main-grid{
    display: grid; /* layout is defined in app.js */
    gap: var(--gap);
    grid-row: 4/5;
    min-width: 100%;
    min-height: 50vh;
    grid-column: span;
    /*margin-left: 0px;*/
}
.main-game-sub{
    grid-column: 2/3;
}

#main-grid div{
    font-family: var(--fontFam);
    min-height: var(--sudoku-cell-size) ;
    min-width: var(--sudoku-cell-size);
    background-color: var(--white);
    color: var(--blue);
    font-size: var(--font-size);
    /*cursor: pointer;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;



}

#message{
    /* border: none;
     background-color: var(--white);
     color: var(--white);*/
    align-self: center;

    margin: 4px auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    grid-row: 5/6;
    border: none;
    box-shadow: 1px -2px 8px #9d9d9d, -3px 3px 8px #ffffff;
    height: 20px;
    border-radius: 10px;


}
#message::after{
    content: "/a";
    white-space: pre;
}

.secondContainer{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.bottomBar{
    grid-row: 6/7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#autoCheck{
    grid-column: 1/2;
}

#refreshButton{
    transition: 0.4s;
    grid-column: 2/3;
    margin: 4px auto;
    border:none;
    padding: 10px;
    background-color: #2e80b3;
    color:white;
    font-size: var(--font-size);
    border-radius:40px;
    box-shadow: 3px -3px 8px #9d9d9d, -3px 3px 8px #ffffff;
}
/*.sideBar{
    grid-column: 1/2;
    grid-row: 1/6;
    background-color: var(--blue);
}
   */
/*.bolder
{
    color: #EB1D36;
}*/
.horizontalDivide{
    border-bottom: 3px solid rgba(142, 169, 195,0.9);
    /*border: solid 4px rgba(#ffffff, .03);*/
    box-shadow: 0px 3px 3px #4F565B;


}
.verticalDivide{
    border-right: 1px solid #9d9d9d;
    box-shadow: 3px 0px 3px #4F565B;
}
#level{
    transition: 0.4s;
    margin: auto auto;
    border-radius: 30px;
    /*background: #c7e0f8;*/
    color:black;
    padding:5px;
    display:inline-block;
    /*background:#e0e0e0;*/
    box-shadow:3px -3px 8px #9d9d9d, -3px 3px 8px #ffffff;
}
#level:hover{
    background-color: white;
}
#levels{
    background-color: #c7e0f8;
    border: none;
    color: var(--blue);
    border-radius: 30px;
    padding: 2px;
    font-size: 10px;
}
#seconds, #tens {
    border-radius: 30px;
    /*background: #c7e0f8;*/
    color: #2e80b3;
    padding:10px;
    min-width:10px;
    margin:auto auto;
    display:inline-block;
    text-align: center;
    /*background:#e0e0e0;*/
    box-shadow:3px -3px 8px #9d9d9d, -3px 3px 8px #ffffff;
}
#timer{
    margin: auto auto;
    color: black;
}
h1{
    height: 20px;
    box-shadow:1px -3px 6px #9d9d9d, -3px 3px 8px #ffffff;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: center;
    color: var(--black);
    font-size: 1rem;

}
#refreshButton:hover{
    color: #2e80b3;
    background-color: white;
}
#autoCheck{
    margin-right: 10px;
    margin-top: 10px;
}
.guideNum{
    width: 100%;
    max-width: 510px;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    justify-content: space-between;
    grid-row: 3/4;
}
.num{
    display: flex;
    color: cornflowerblue;
    font-size: 0.7rem;
    justify-content: center;
}
.guideNumRow{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;



}
#topPadding{
    grid-column: 1/2;
    grid-row: 1/4;

}
#bottomPadding{
    grid-column: 1/2;
    grid-row: 5/7 ;

}
.num:nth-child(3n){
    color: black;
}
